.canvas-container {
    display: inline-block;
    background: #33C;
    padding: 10px 10px;
    height: 600px;
    width: 800px;
}
#canvas {
    background: #CCC;
    height: 100%;
    width: 100%;
}
.basic {
    cursor: default;
}
.basic > .connect > rect {
    display: none;
}
.select .connect > rect {
    display: block;
}
.connect > rect.linked {
    display: block;
}
.line-temp {
    display: none;
    pointer-events: none;
}
